[package]
name = "libosu"
version = "0.0.8"
authors = ["michael <iptq@protonmail.com>"]
edition = "2018"

description = "General-purpose osu! library with bindings for other languages."
license = "MIT"
readme = "README.md"
keywords = ["osu"]
repository = "https://github.com/iptq/libosu.git"
documentation = "https://docs.rs/libosu/"

[dev-dependencies]
serde_json = "1.0"
difference = "2.0"

[dependencies]
failure = "0.1"
futures = "0.1"
lazy_static = "1.0"
num-rational = "0.2"
regex = "1.1"
serde = "1.0"
serde_derive = "1.0"
serde_json = "1.0"

hyper = { version = "0.12", optional = true }
hyper-tls = { version = "0.3", optional = true }
tokio = { version = "0.1", optional = true }

[features]
default = ["api"]
api = ["hyper", "hyper-tls", "tokio"]
